<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.trii.icons-digest</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/georgeclark/Desktop/Projects.nosync/TRII/run-icons-digest.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>WorkingDirectory</key>
    <string>/Users/georgeclark/Desktop/Projects.nosync/TRII</string>
    <key>StandardOutPath</key>
    <string>/Users/georgeclark/Desktop/Projects.nosync/TRII/session-log/icons-digest-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/georgeclark/Desktop/Projects.nosync/TRII/session-log/icons-digest-stderr.log</string>
</dict>
</plist>
